@font-face {
    font-family: 'fontello';
    src: url('assets/font/fontello.eot?70684468');
    src: url('assets/font/fontello.eot?70684468#iefix') format('embedded-opentype'),
         url('assets/font/fontello.woff2?70684468') format('woff2'),
         url('assets/font/fontello.woff?70684468') format('woff'),
         url('assets/font/fontello.ttf?70684468') format('truetype'),
         url('assets/font/fontello.svg?70684468#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

html{
    background-color: #eee;
    line-height: 1.6;
}

body{
    max-width: 1024px;
    min-width: 480px;
    font-size: 18px;
    display: flex;
    margin: 0 auto;
}

img{
    max-width: 240px;
    max-height: 240px;
}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    color: white;
    margin-right:20px;
  }

  aside{
      display: flex;
      min-width: 240px;
      background-color: #1faeff;
      width: 35%;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px;
      color: white;
  }

  aside a {
      color: white;
  }

  main {
    width: 65%;
    min-width: 240px;
    padding: 30px 40px 40px;
    background-color: #fff;
    color: #333;    
  }

  main h2,h3{
      color:#1faeff ;
      margin: 0;
  }

  main a{
      color: black;
  }

  main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }